/*This is my dark themed stylesheet.*/
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

/*Defaults for the body.*/
body
{
    background-color: lightcyan;
    font-family: 'Slabo 27px', serif;
}

/*This is the profile container that is basically a header of my website.*/
#Profile_Container
{
    position: absolute;
    width: 100.1%;
    min-width: 700px;
    margin-top: -10px;
    margin-left: -10px;
    background-image: url('../source/images/Prof_Back_L2.jpg');
}

/*This holds my picture and name and title.*/
#Profile_Block
{
    width: 410px;
    height: 200px;
    margin: 35px 0px 30px 35px;
    display: inline-block;
}

/*This is for the a href on my pic.*/
#Profile_Pic_Block
{
    width: 200px;
    height: 200px;
    float: left;
    border-radius: 100%;
}

/*My profile picture.*/
#Profile_Pic
{
    height: 200px;
    width: 200px;
    border-radius: 100%;
}

/*To move my name and title as a block.*/
#Profile_Name_Block
{
    width: 200px;
    height: 200px;
    float: right;
}

/*How each element of name and title will look.*/
.Profile_Info
{
    text-align: center;
    color: #001838;
}

/*This is for my linkable icons.*/
#Icon_Block
{
    width: 175px;
    height: 55px;
    float: right;
    margin: 10px 10px 0px 0px;
}

/*This is to position my icons.*/
.Icons
{
    display: inline-block;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    float: right;
    margin: 10px;
}

/*These are the settings for my icons.*/
.Icon
{
    height: 35px;
    width: 35px;
    border-radius: 100%;
}

#Content_Container
{
    position: absolute;
    width: 100%;
    margin: 275px -10px 0px -10px;
}

.Headers
{
    margin-left: 50px;
}

.Content
{
    margin-left: 50px;
}