/*This is my dark themed stylesheet.*/
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

body
{
    background-color: #1e1e1e;
    font-family: 'Slabo 27px', serif;
    color: #9cdcfe
}

.Profile_Container
{
    width: 100%;
    background-image: url('./source/images/Prof_Back_D.jpg');
}

.Profile_Block
{
    width: 400px;
    max-height: 200px;
    margin: 1cm;
    box-sizing:border-box;
    display:inline-block;
    /*max-width: 200px;*/
}

.Profile_Pic_Block
{
    width: 200px;
    float: left;
}

.Profile_Pic
{
    height: 200px;
    width: 200px;
    /*TODO: I need to find out what these do*/
    border-radius: 50%;
    display: block;
    /*margin: 0 auto;*/
}

.Profile_Name_Block
{
    width: 200px;
    float: left;
}

.Profile_Name
{
    text-align: center;
    color: #569cd6;
}