/*This is my dark themed stylesheet.*/
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

body
{
    background-color: #1e1e1e;
    font-family: 'Slabo 27px', serif;
    color: #9cdcfe
}

.Profile_Container
{
    width: 100%;
    background-image: url('./source/images/Prof_Back_D.jpg');
}

.Profile_Block
{
    margin: 0 auto;
    max-width: 400px;
}

.Profile_Pic
{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.Profile_Name
{
    text-align: center;
    color: #569cd6;
}