/*This is my dark themed stylesheet.*/
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

/*This is the default style for my webpage.*/
*
{
    font-family: 'Slabo 27px', serif;
    color: #9cdcfe
}

/*Defaults for the body.*/
body
{
    background-color: #1e1e1e;
}

/*This is the profile container that is basically a header of my website.*/
#Profile_Container
{
    width: 100%;
    margin-top: 0px;
    background-image: url('./source/images/Prof_Back_D.jpg');
}

/*This holds my picture and name and title.*/
#Profile_Block
{
    width: 400px;
    height: 200px;
    margin: 35px;
    /*box-sizing:border-box;*/
    display: inline-block;
}

/*This is for the a href on my pic.*/
#Profile_Pic_Block
{
    width: 200px;
    float: left;
    border-radius: 100%;
}

/*My profile picture.*/
#Profile_Pic
{
    height: 200px;
    width: 200px;
    border-radius: 100%;
    display: inline-block;
}

/*To move my name and title as a block.*/
#Profile_Name_Block
{
    width: 200px;
    float: right;
}

/*How each element of name and title will look.*/
.Profile_Info
{
    text-align: center;
    color: #569cd6;
}